<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - DC2247A5</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="DC2247A5" />
    <meta name="application-name" content="2241-4774a983-efe8-4174-b91f-31ff5a5549d5" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        var userAccount = new DC2247A5.Controllers.RequestUser(User as System.Security.Claims.ClaimsPrincipal);
    }

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Show Biz II", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Genres", "Index", "Genres", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Actors", "Index", "Actors", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Shows", "Index", "Shows", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Episodes", "Index", "Episodes", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Load Data<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Roles", "Roles", "LoadData", new { area = "" }, new { @class = "dropdown-item" })
                            </li>
                            @if (userAccount.IsAdmin)
                            {
                                <li>@Html.ActionLink("Genres", "Genres", "LoadData", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Actors", "Actors", "LoadData", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Shows", "Shows", "LoadData", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Episodes", "Episodes", "LoadData", new { area = "" }, new { @class = "dropdown-item" })</li>
                            }
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                <small>
                    By submitting this assignment you agree to the following:
                    I declare that this assignment is my own work in accordance with the Seneca Academic
                    Policy. No part of this assignment has been copied manually or electronically from
                    any other source (including web sites) or distributed to other students.
                </small>
            </p>
            <p>&copy; Devon Connelly, dconnelly@myseneca.ca, WEB524, Fall 2024</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
