@model DC2247A5.Models.ShowWithInfoViewModel

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name);
}
@{
    var userAccount = new DC2247A5.Controllers.RequestUser(User as System.Security.Claims.ClaimsPrincipal);
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Image" style="max-width: 150px; max-height: 150px;" />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coordinator)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coordinator)
        </dd>

        <hr />
        <dt class="col-sm-2">
            Cast<br />
            <span class="badge rounded-pill text-bg-secondary">@Html.DisplayFor(model => model.Actors.Count) actors</span>
        </dt>

        <dd class="col-sm-10">
            @foreach (var actor in Model.Actors)
            {
                <span>@actor.Name</span><br />
            }
            <br />
        </dd>

        <hr />
        <dt class="col-sm-2">
            Episodes<br />
            <span class="badge rounded-pill text-bg-secondary">@Html.DisplayFor(model => model.Episodes.Count) episodes</span>
        </dt>

        <dd class="col-sm-10">
            @foreach (var episode in Model.Episodes)
            {
                <span>@episode.Name</span><br />
            }
        </dd>

        @if (!string.IsNullOrWhiteSpace(Model.Premise))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Premise)
            </dt>
            <dd class="col-sm-10">
                <div class="card card-body bg-light">
                    @Html.Raw(Model.Premise)
                </div>
            </dd>
        }


    </dl>
</div>
<p>
    @if (userAccount.HasRoleClaim("Clerk"))
    {
        <span>@Html.ActionLink("Add New Episode", "AddEpisode", new { id = Model.Id }) | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
